---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Link from "../icons/Link.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import BriefCase from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import Certification from "../components/Certification.astro";
import ContactForm from "../components/ContactForm.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio | Manuel Marcos" description="descripcion">
  <main class="px-4">
    <Section id="top" class=" py-10 md:py-30 md:pb-30">
      <Hero />
    </Section>
    <Section id="experiencia">
      <h2 class="flex gap-x-2 items-center text-3xl font-semibold mb-6">
        Experiencia Laboral
      </h2>
      <Experience />
    </Section>
    <Section id="proyectos">
      <h2 class="flex gap-x-2 items-center text-3xl font-semibold mb-6">
        Proyectos
      </h2>
      <Projects />
    </Section>
    <Section id="cursos">
      <h2 class="flex gap-x-2 items-center text-3xl font-semibold mb-6">
        Cursos y certificaciones
      </h2>
      <Certification />
    </Section>
    <Section id="contacto" class="mt-5">
      <h2 class="flex gap-x-2 items-center text-3xl font-semibold mb-6">
        Contacto
      </h2>
      <ContactForm/>
    </Section>
  </main>
</Layout>
