---
import { boolean } from "astro:schema";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Abr 2023 - Abr 2025",
    title: "Staff Technical Consultant",
    company: "Extend IT",
    descriptions: [
      "Desarrollo e implementación de integraciones utilizando Oracle Integration Cloud (OIC) y Visual Builder.",
      "Creación y mantenimiento de OCI Functions y OCI Buckets para optimizar procesos empresariales en la nube.",
      "Desarrollo de paquetes en PL/SQL para empresas con ERP on-premise, mejorando la gestión de datos y la interoperabilidad con sistemas heredados.",
    ],
    actualmente: true,
  },
  {
    date: "Sept 2021 - Sept 2022",
    title: "Soporte Técnico",
    company: "Roemmers",
    descriptions: [
      "Brindé soporte técnico remoto y on-site para aplicaciones corporativas custom, así como sistemas operativos Windows y macOS.",
      "Gestión y seguimiento de tickets en mesa de ayuda, documentando incidentes y soluciones para optimizar tiempos de respuesta."
    ],
  },
];
---


<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
