


<header class="flex flex-row justify-center">
  <nav class="hidden md:flex fixed top-0 w-full backdrop-blur-lg z-50 mx-auto lg:max-w-4xl md:max-w-2xl  justify-center gap-6 py-3 text-gray-300">
    <a href="#experiencia" class="nav-link" data-section="experiencia">Experiencia</a>
    <a href="#proyectos" class="nav-link" data-section="proyectos">Proyectos</a>
    <a href="#cursos" class="nav-link" data-section="cursos">Cursos</a>
    <a href="#contacto" class="nav-link" data-section="contacto">Contacto</a>
  </nav>
</header>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const targetElement = entry.target as HTMLElement; 
            const sectionId = targetElement.id; 

            document.querySelectorAll(".nav-link").forEach((link) => {
              const linkElement = link as HTMLElement; 
              if(linkElement.dataset.section){
                linkElement.classList.toggle("active", linkElement.dataset.section === sectionId);
              }
            });
          }
        });
      },
      { threshold: 0.50 } 
    );

    document.querySelectorAll("section").forEach((section) => {
      observer.observe(section);
    });
  });
</script>

