---
const { href } = Astro.props;
---

<a
  target="_blank"
  href={href}
  role="link"
  class="inline-flex items-center px-4 py-2 rounded-lg border border-gray-600 text-gray-400 hover:bg-gray-800 hover:border-gray-500 transition"
>
  <slot />
</a>
