---
import React from "../icons/React.astro";
import Spring from "../icons/Spring.astro";
import LinkButton from "./LinkButton.astro";
import LinkIcon from "../icons/Link.astro";
import Github from "../icons/Github.astro";
import ProjectCard from "./ProjectCard.astro";


const PROJECTS = [
{
    title: "Medpoint Clinic",
    description:
      "Backend para la gestión de consultas, pacientes, médicos y facturación en una clínica médica. Proyecto de la Hackathon de TodoCode (outsider).",
    link: "http://20.121.67.22:8080",
    github: "https://github.com/ManuMarcos/clinica-backend",
    reverse: false,
    image: "/projects/medpoint_clinic.webp",
    tags: ["SPRING", "MY_SQL"],
  },
  {
    title: "Sistema de gestión de reclamos",
    description:
      "Diseñado para administradores de edificios, pueden gestionar edificios, usuarios y áreas comunes, mientras que propietarios e inquilinos pueden reportar y seguir reclamos sobre unidades o áreas compartidas. ",
    github: "https://github.com/ManuMarcos/Sistema-de-Gestion-Reclamos",
    image: "/projects/sistema_reclamos.webp",
    reverse: true,
    tags: ["SPRING","MY_SQL", "REACT"],
  },
  {
    title: "Air Manager",
    description:
      "Software de escritorio para agendar servicios, asignar técnicos, controlar stock y facturar instalaciones de aires acondicionados.",
    link: "https://youtu.be/po4dZbtvY44",
    github: "https://github.com/ManuMarcos/Sistema-de-Gestion-Instalaciones",
    reverse: false,
    image: "/projects/gestion_instalaciones_1.webp",
    tags: ["JAVA_SWING"],
  },
  {
    title: "AyuDar",
    description:
      "AyuDar es una plataforma web diseñada con la premisa Mobile First, funcionando como link entre los comedores y los donantes.",
    github: "https://github.com/ManuMarcos/ayudar",
    reverse: true,
    image: "/projects/ayudar2.png",
    tags: ["NEXT", "MONGO"],
  }
];
---

{
  (
    <div class=" flex flex-col gap-y-10 mb-5">
      {PROJECTS.map((project) => (
        <ProjectCard {...project} />
      ))}
    </div>
    
    
  )
}
